<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="GOOGLE_APPLICATION_CREDENTIALS"
         value="C:\Users\Kimbed\keys\ons-blaise-dev-jam06\ons-blaise-dev-jam06-980919cb8dfd.json" />
    <add key="ProjectId" value="ons-blaise-dev-jam06" />
    <add key="TopicId" value="autocomplete-cases-topic" />
    <add key="SubscriptionId" value="autocomplete-cases-subscription" />
    <add key="BlaiseServerHostName" value="localhost"/>
    <add key="BlaiseServerUserName" value="Root"/>
    <add key="BlaiseServerPassword" value="Root"/>
    <add key="BlaiseServerBinding" value="HTTP"/>
    <add key="BlaiseConnectionPort" value="8031" />
    <add key="BlaiseRemoteConnectionPort" value="8033" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>